@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden  !important;
}
#header{
    width: 100%;
}
.logo{
    width:3rem;
}
#nav{
    width: 100%;
    height: 3rem;
    display: flex;
    font-weight: 300;
    justify-content: center;
    align-items: center;
}
#main{
    width: 100%;
    height: 20rem;
    background-image:linear-gradient(180deg, rgba(48,57,86,0.5) 0%, rgba(76,63,112,0.75) 100%),url(../assets/woman-1284411.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #F2F5FF;
}
@media (min-width: 1025px){
    #main{
        height: 30rem;
        background-position: right top;
        background-size: cover,70%;
    }

}
.hero-section{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
@media (min-width: 1025px){
    .hero-section{
        width: 90%;
        margin: 0 auto;
        text-align: left;
        height: 30rem;
        align-items: flex-start;
    }
}
.hero-main-text{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.hero-secondary-text{
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 0.2rem;
}
.see-more-btn{
    margin-top:1rem;
    border: 1px solid white;
    padding: 0.8rem 3rem;
    text-decoration: none;
    color: #F2F5FF;
}
@media screen and (min-width: 1025px){
.hero-main-text{
    font-size: 4.5rem;
}
.hero-secondary-text{
    font-size: 2.3rem;
    padding-left: 1rem;
}
.see-more-btn{
    padding: 1.2rem 5rem;
    margin: 1rem;
    font-size: 1.2rem;
}
}
#about-us{
    width: 90%;
    height: 27rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}
.about-us-tittle{
    text-align: center;
    margin: 1rem auto;
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 5px #6159E6 dashed;
    width: 15rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
@media (min-width: 1025px){
    #about-us{
        height: 24rem;
    }
    .about-us-tittle{
        font-size: 1.8rem;
        width: 30rem;
        padding-bottom: 0.8rem;
    }
}
.cards{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}
.card{
    flex-grow: 1;
    border-radius: 35px;
    background: #fafafa;
    box-shadow:  2px 2px 12px #bebebe,
    -2px -2px 12px #DBDAF2;
    height: 10rem;
    width: 8.5rem;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1.5fr 0.5fr; 
    gap: 0.2rem 0px; 
    grid-template-areas: 
    "img-card"
    "card-tittle"; 
}
    
.img-card { 
    grid-area: img-card;
    width: 5.5rem;
    height: 5.5rem;
    object-fit: contain;
    margin: 1rem auto 0 auto;
}
.last{
    width: 12rem;
}
@media (min-width: 1025px){
    .cards{
        gap:2rem;
    }
    .card{
        flex-basis: calc(90% / 3);
        height: 15rem;
    }
}

.card-tittle { 
    height: 0.5rem;
    grid-area: card-tittle;
    color: #fff;;  /*Cambiar color de letra*/
    text-align: center;
    background-color:#6159E6; /*Cambiar color de boton*/
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	padding:0.5rem 1rem;
    width: 5rem;
	text-decoration:none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    font-weight: 500;
    margin: 0 auto;
}
.card-tittle:hover{
    background-color: #567AFC;
}
.last-tittle{
    width: 10rem;
}
@media (min-width: 1025px){
    .img-card{
        width: 9rem;
        height: 9rem;
    }
    .card-tittle,.last-tittle{
        width: 12rem;
        padding:0.9rem;
        font-size: 0.8rem;
    }
}
[data-tab-content]{
    display: none;
}
.active[data-tab-content]{
    display: block;
}
#category-list{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.category-tittle{
    border: 2px solid #567AFC;
    padding: 1rem 0;
    width: 10rem;
    text-align: center;
    margin: 0 auto;
    color: #567AFC;
}
.categories{
    padding-top: 1rem;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    font-weight: 500;   
}
.category{
    margin-top: 0.5rem;
    font-weight: 250;
    cursor: pointer;
    color: #333333;
}
.category.active{
    border-bottom: 1px solid #567AFC;
}
@media (min-width: 1025px){
    #category-list{
        width: 10%;
        margin: 5rem auto;
    }
    .store{
        display: flex;
    }
}
.shop{
    width: 90%;
    margin: 0 auto;
}
@media (min-width: 1025px){
.shop{
    width: 70%;
}
}
.container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item{
    display: grid; 
    grid-template-columns: 2fr 0.5fr; 
    grid-template-rows: 1.5fr 1fr; 
    gap: 0.5rem 0px; 
    grid-template-areas: 
    "img-item img-item"
    "item-tittle item-price"; 
    width: 9.5rem;
    height: 15rem;
    border-radius: 12px;
    background: #f0f0f0;
    box-shadow:  2px 2px 8px #d0d0d0,
             -2px -2px 8px #f0f0f0;
    margin: 1rem 0;
}
.item-tittle { 
    grid-area: item-tittle;
    color: #000;
    background-color: #fff;
    padding-left: 0.7rem;
    font-size: 0.85rem;
    display: flex;
    align-items: center; 
}
.img-item { 
    grid-area: img-item; 
    background-color: #f0f0f0;
    width: 8rem;
    height: 12rem;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}
.item-price { grid-area: item-price; 
    font-weight: 500;
    color: greenyellow;
    text-align: right;
    background-color: #fff;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    padding-left: 0.2rem;
}
@media (min-width: 1025px){
    .item{
        width: 15rem;
        height: 18rem;
        margin: 2.5rem auto
    }
    .item-tittle{
        font-size: 1.2rem;
    }
    .img-item{
        height: 14rem;
        width: 11rem;
    }
    .item-price{
        font-size: 1.2rem;
        font-weight: 700;
    }
}
#footer{
    width: 100%;
    height: 3rem;
    margin: 5rem 0 0 0;
    background-color:#000000 ;
}
.form-tittle{
    margin: 2rem auto;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    color:#567AFC ;
}
#form{
    width: 80%;
    margin: 0 auto;
}
#form>input{
    padding: 1rem 6rem;
    font-size: 1.2rem;
    margin: 0.5rem auto;
    width: 5rem;
}
#form>textarea{
    margin: 0.5rem auto;
    font-size: 1.2rem;
    width: 17rem;
    resize: none;
}
button{
    padding: 1rem;
    width: 100%;
    color: #F2F5FF;
    background-color: #567AFC;
    border: none;
    margin-top: 1rem;
    font-size: 1rem;
}
a{
    color: white;
    text-decoration: none;
}
@media (min-width: 1025px){
    #form{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    button{
        width: 15rem;
        margin: 2rem auto;
    }
}
#nuestra-filosofia{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filosofia-titulo{
    margin-top: 2rem;
    font-size: 1.5rem;
color:#567AFC ;
text-align: center;
}
.filosofia-img{
    width: 15rem;
}
.filosofia-texto{
    margin: 2rem 0;
    text-align: justify;
}
@media (min-width: 1025px){
    #nuestra-filosofia{
        height: 40rem;
        flex-direction: row;
        align-items: center;
        gap: 10rem;
    }
    .filosofia-titulo
    {
        font-size: 3rem;
    }
    .filosofia-img{
        width: 35rem;
    }
}