@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden  !important;
}
#header{
    width: 100%;
}
.logo{
    width:3rem;
}
#nav{
    width: 100%;
    height: 3rem;
    color: #635d74; /*Color de los links*/
    display: flex;
    font-weight: 300;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.nav-link{
    font-size: 0.8rem;
    font-weight: 400;
    display: inline-block;
    margin-left: 0.2rem;
}
#main{
    width: 100%;
    height: 20rem;
    background-image:linear-gradient(180deg, rgba(48,57,86,0.5) 0%, rgba(76,63,112,0.75) 100%),url(../assets/woman-1284411.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #F2F5FF;
}
@media (min-width: 1025px){
    #main{
        height: 30rem;
        background-position: right top;
        background-size: cover,70%;
    }

}
.hero-section{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
@media (min-width: 1025px){
    .hero-section{
        width: 90%;
        margin: 0 auto;
        text-align: left;
        height: 30rem;
        align-items: flex-start;
    }
}
.hero-main-text{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.hero-secondary-text{
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 0.2rem;
}
.see-more-btn{
    margin-top:1rem;
    border: 1px solid white;
    padding: 0.8rem 3rem;
    text-decoration: none;
    color: #F2F5FF;
}
@media screen and (min-width: 1025px){
.hero-main-text{
    font-size: 4.5rem;
}
.hero-secondary-text{
    font-size: 2.3rem;
    padding-left: 1rem;
}
.see-more-btn{
    padding: 1.2rem 5rem;
    margin: 1rem;
    font-size: 1.2rem;
}
}
#about-us{
    width: 90%;
    height: 27rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}
.about-us-tittle{
    text-align: center;
    margin: 1rem auto;
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 5px #6159E6 dashed;
    width: 15rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}
.cards{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}
.card{
    flex-grow: 1;
    border-radius: 35px;
    background: #fafafa;
    box-shadow:  2px 2px 12px #bebebe,
    -2px -2px 12px #DBDAF2;
    height: 10rem;
    width: 8.5rem;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1.5fr 0.5fr; 
    gap: 0.2rem 0px; 
    grid-template-areas: 
    "img-card"
    "card-tittle"; 
}
    
.img-card { 
    grid-area: img-card;
    width: 5.5rem;
    height: 5.5rem;
    object-fit: contain;
    margin: 1rem auto 0 auto;
}
.last{
    width: 12rem;
}

.card-tittle { 
    height: 0.5rem;
    grid-area: card-tittle;
    color: #fff;;  /*Cambiar color de letra*/
    text-align: center;
    background-color:#6159E6; /*Cambiar color de boton*/
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	padding:0.5rem 1rem;
    width: 5rem;
	text-decoration:none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    font-weight: 500;
    margin: 0 auto;
}
.card-tittle:hover{
    background-color: #567AFC;
}
.last-tittle{
    width: 10rem;
}
[data-tab-content]{
    display: none;
}
.active[data-tab-content]{
    display: block;
}
#category-list{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.category-tittle{
    border: 2px solid #567AFC;
    padding: 1rem 0;
    width: 10rem;
    text-align: center;
    margin: 0 auto;
    color: #567AFC;
}
.categories{
    padding-top: 1rem;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    font-weight: 500;   
}
.category{
    margin-top: 0.5rem;
    font-weight: 250;
    cursor: pointer;
    color: #333333;
}
.category.active{
    border-bottom: 1px solid #567AFC;
}
.shop{
    width: calc(99% - 15rem);
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 480px){
    .shop{
        margin-top: 3rem;
        width: 98%;
    }
.container{
    justify-content: space-evenly;
    align-items: center;
}
}

.item{
    display: grid; 
  grid-template-columns: 2fr 0.5fr; 
  grid-template-rows: 1.5fr 1fr; 
  gap: 0.5rem 0px; 
  grid-template-areas: 
    "img-item img-item"
    "item-tittle item-price"; 
    width: 20rem;
    height: 20rem;
}
.item-tittle { 
    grid-area: item-tittle;
    color: #E0DFF2; 
}
.img-item { 
    grid-area: img-item; 
    background-color: #6159e6; /*Cambiar color de fondo del producto (Se le cambiara a todos)*/
    width: 20rem;
    height: 16rem;
    object-fit: contain;
}
.item-price { grid-area: item-price; 
    font-weight: 500;
    color: #B163FF; /*Cambiar color del precio*/
    text-align: right;
}
@media screen and (max-width: 480px){
        .item{
            gap: 0.2rem 0px;
            width: 8rem;
            height: 8rem;
            margin:0.5rem;
        }
        .img-item{
            width: 8rem;
            height: 6rem;
        }
    }