@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
    font-size: 1.5rem !important;
    overflow-x: hidden  !important;
}
@media screen and (max-width: 480px){
    body{
        font-size: 0.8rem !important;
    }
}
img{
    width: 100%;
}
.navbar{
    width: 100%;
    height: 3rem;
    background: #000000;
     /*Color de fondo*/
    color: #FFFFFF; /*Color de los links*/
    display: flex;
    font-weight: 300;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo{
    margin-left: 5rem;
}
.links{
    margin-right: 5rem;
}
.nav-link{
    display: inline-block;
    margin-right: 1rem;
}
@media screen and (max-width: 480px){
   .logo{
       margin-left: 1rem;
   }
   .links{
       margin-right: 1rem;
   }
}
#hero-section{
    background-color: #DBDAF2;
    display: flex;
    width: 100%;
    height: 45rem;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #FFFFFF;
    font-weight: 700;
    object-fit: contain;
}
.hero-text{
    font-size: 4rem;
    text-align: right;
}
.hero-img{
    width: 50rem;
    height: 60rem;
    background-image: url(../assets/woman-editado.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
@media screen and (max-width: 480px){
#hero-section{
    height: 30rem;
}
}
.other-links-tittle{
    text-align: center;
    margin: 2rem auto;
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 5px #6159E6 dashed;
    width: 50rem;
    padding: 1rem;
    height: 2.5rem;
}
#other-links{
    width: 80%;
    height: 20rem;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
}
.card{
    border-radius: 51px;
background: #fafafa;
box-shadow:  13px 13px 25px #bebebe,
             -13px -13px 25px #DBDAF2;
    height: 16rem;
    width: 21rem;
    display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1.5fr 0.5fr; 
  gap: 3rem 0px; 
  grid-template-areas: 
    "img-card"
    "card-tittle"; 
}
.img-card { 
    grid-area: img-card;
    width: 16rem;
    height: 12rem;
    object-fit: contain;
    margin: 2rem auto;
}
.card-tittle { 
    height: 2rem;
    grid-area: card-tittle;
    color:#E0DFF2;  /*Cambiar color de letra*/
    text-align: center;
    background-color:#B163FF; /*Cambiar color de boton*/
	border-radius:34px;
	display:inline-block;
	cursor:pointer;
	padding:1rem 4.8rem;
	text-decoration:none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
}
.card-tittle:hover{
    background-color: #6159E6; /*Cambiar color al pasar el mouse*/
}
@media screen and (max-width: 480px){
#other-links{
    height: 10rem;
    width: 95%;
    margin: 0 auto 5rem auto;
    flex-direction: row;
    justify-content: space-between;
}
.card{
    height: 10rem;
    width: 6.6rem;
    margin: 5rem auto;
    gap: 0.8rem 0;
}
.img-card{
    width: 6.6rem;
    height: 5.5rem;
}
.card-tittle{
    height: 0.67rem;
    padding: 0.33rem 1.6rem;
    font-size: 0.5rem;
}
}
.main{
    width: 90%;
    margin: 10rem auto;
    margin-top: 15rem;
    display: flex;
    justify-content: space-between;
    height: 60rem;
}
@media screen and (max-width: 480px){
.main{
    margin-top: 5rem;
    height: 20rem;
    flex-direction: column;
    align-items: center;
}
}
[data-tab-content]{
    display: none;
}
.active[data-tab-content]{
    display: block;
}
.categories{
    padding-top: 3rem;
    width: 15rem;
    height: 60rem;
    font-weight: 500;
    border-right: 1px solid #E0DFF2;
    
}
.category{
    margin-top: 0.5rem;
    font-weight: 200;
    cursor: pointer;
    color: #E0DFF2;
}
@media screen and (max-width: 480px){
.categories{
    text-align: center;
    border-right: none;
    height: 10rem;
    border-bottom: 1px solid #E0DFF2;
    font-size: 1.4rem;
}
}
.category.active{
    color: #6159e6;
}
.shop{
    width: calc(99% - 15rem);
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 480px){
    .shop{
        margin-top: 3rem;
        width: 98%;
    }
.container{
    justify-content: space-evenly;
    align-items: center;
}
}

.item{
    display: grid; 
  grid-template-columns: 2fr 0.5fr; 
  grid-template-rows: 1.5fr 1fr; 
  gap: 0.5rem 0px; 
  grid-template-areas: 
    "img-item img-item"
    "item-tittle item-price"; 
    width: 20rem;
    height: 20rem;
}
.item-tittle { 
    grid-area: item-tittle;
    color: #E0DFF2; 
}
.img-item { 
    grid-area: img-item; 
    background-color: #6159e6; /*Cambiar color de fondo del producto (Se le cambiara a todos)*/
    width: 20rem;
    height: 16rem;
    object-fit: contain;
}
.item-price { grid-area: item-price; 
    font-weight: 500;
    color: #B163FF; /*Cambiar color del precio*/
    text-align: right;
}
@media screen and (max-width: 480px){
        .item{
            gap: 0.2rem 0px;
            width: 8rem;
            height: 8rem;
            margin:0.5rem;
        }
        .img-item{
            width: 8rem;
            height: 6rem;
        }
    }